USE [master]
GO
/****** Object:  Database [DaiNuiConnectionString]    Script Date: 4/11/2016 2:03:59 PM ******/
CREATE DATABASE [DaiNuiConnectionString]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DailyNutrition2012', FILENAME = N'E:\Projects\PFW MVC5\PFW MVC5\App_Data\DailyNutrition2012.mdf' , SIZE = 3776KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DailyNutrition2012_log', FILENAME = N'E:\Projects\PFW MVC5\PFW MVC5\App_Data\DailyNutrition2012_log.ldf' , SIZE = 1280KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DaiNuiConnectionString].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DaiNuiConnectionString]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 4/11/2016 2:03:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Category] [nchar](25) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[Category] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Ingredients]    Script Date: 4/11/2016 2:03:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Ingredients](
	[Ingredient_ID] [int] IDENTITY(1,1) NOT NULL,
	[ShortDescription] [nvarchar](50) NOT NULL,
	[LongDescription] [nvarchar](max) NOT NULL,
	[ServingSize] [numeric](7, 3) NULL,
	[ServingSizeUnit] [int] NOT NULL,
	[Calories] [smallint] NULL,
	[CalFromFat] [smallint] NULL,
	[TotalFat] [decimal](6, 2) NULL,
	[SaturatedFat] [decimal](6, 2) NULL,
	[TransFat] [decimal](6, 2) NULL,
	[PolyUnsatFat] [decimal](6, 2) NULL,
	[MonounsatFat] [decimal](6, 2) NULL,
	[Cholesterol] [decimal](6, 2) NULL,
	[Sodium] [decimal](6, 2) NULL,
	[TotalCarbohydrates] [decimal](6, 2) NULL,
	[Protein] [decimal](6, 2) NULL,
	[Potassium] [decimal](6, 2) NULL,
	[DietaryFiber] [decimal](6, 2) NULL,
	[Sugars] [decimal](6, 2) NULL,
	[VitaminA] [int] NULL,
	[VitaminC] [int] NULL,
	[Calcium] [int] NULL,
	[Iron] [int] NULL,
	[FolicAcid] [int] NULL,
	[upc] [char](12) NOT NULL,
	[servingspercontainer] [decimal](6, 2) NULL,
	[Egg] [varchar](2) NOT NULL CONSTRAINT [DF_Ingredients_Egg]  DEFAULT ('" '''),
	[maker] [nvarchar](30) NOT NULL CONSTRAINT [DF_Ingredients_maker]  DEFAULT (N' '),
	[Nuts] [varchar](2) NOT NULL CONSTRAINT [DF_Ingredients_Nuts]  DEFAULT (' '),
	[Milk] [varchar](2) NOT NULL CONSTRAINT [DF_Ingredients_Milk]  DEFAULT (' '),
	[Wheat] [varchar](2) NOT NULL CONSTRAINT [DF_Ingredients_Wheat]  DEFAULT (' '),
	[Soy] [varchar](2) NOT NULL CONSTRAINT [DF_Ingredients_Soy]  DEFAULT (' '),
	[Category] [nvarchar](20) NULL,
 CONSTRAINT [PK_Ingredients] PRIMARY KEY CLUSTERED 
(
	[Ingredient_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Measurements]    Script Date: 4/11/2016 2:03:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Measurements](
	[unit_id] [int] IDENTITY(1,1) NOT NULL,
	[measure] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_Measurements] PRIMARY KEY CLUSTERED 
(
	[unit_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Preparation]    Script Date: 4/11/2016 2:03:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Preparation](
	[Type] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Preparation] PRIMARY KEY CLUSTERED 
(
	[Type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[recipeingredients]    Script Date: 4/11/2016 2:03:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[recipeingredients](
	[recipeingredients_id] [int] NULL,
	[ingredient_id] [int] NULL,
	[number] [decimal](5, 2) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Recipes]    Script Date: 4/11/2016 2:03:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recipes](
	[RecipeId] [int] IDENTITY(1,1) NOT NULL,
	[Recipe_Ingredient_id] [int] NULL,
	[Name] [nvarchar](50) NULL,
	[Description] [nvarchar](max) NULL,
	[Servings] [smallint] NULL,
	[Category] [nvarchar](25) NULL,
 CONSTRAINT [PK_Recipes] PRIMARY KEY CLUSTERED 
(
	[RecipeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[Category] ([Category]) VALUES (N'Box dinner               ')
INSERT [dbo].[Category] ([Category]) VALUES (N'Breakfast                ')
INSERT [dbo].[Category] ([Category]) VALUES (N'chili                    ')
SET IDENTITY_INSERT [dbo].[Ingredients] ON 

GO
SET IDENTITY_INSERT [dbo].[Ingredients] OFF
SET IDENTITY_INSERT [dbo].[Measurements] ON 

INSERT [dbo].[Measurements] ([unit_id], [measure]) VALUES (1, N'Each')
INSERT [dbo].[Measurements] ([unit_id], [measure]) VALUES (2, N'Tablespoon')
INSERT [dbo].[Measurements] ([unit_id], [measure]) VALUES (3, N'Teaspoon')
SET IDENTITY_INSERT [dbo].[Measurements] OFF
INSERT [dbo].[Preparation] ([Type]) VALUES (N'All In One')
INSERT [dbo].[Preparation] ([Type]) VALUES (N'Complex   ')
INSERT [dbo].[Preparation] ([Type]) VALUES (N'Medium    ')
INSERT [dbo].[recipeingredients] ([recipeingredients_id], [ingredient_id], [number]) VALUES (1, 1, CAST(1.00 AS Decimal(5, 2)))
INSERT [dbo].[recipeingredients] ([recipeingredients_id], [ingredient_id], [number]) VALUES (2, 12, CAST(1.00 AS Decimal(5, 2)))
INSERT [dbo].[recipeingredients] ([recipeingredients_id], [ingredient_id], [number]) VALUES (2, 13, CAST(1.00 AS Decimal(5, 2)))
SET IDENTITY_INSERT [dbo].[Recipes] ON 

INSERT [dbo].[Recipes] ([RecipeId], [Recipe_Ingredient_id], [Name], [Description], [Servings], [Category]) VALUES (1, NULL, N'Chili', N' beans and spices', NULL, N'Dinner')
INSERT [dbo].[Recipes] ([RecipeId], [Recipe_Ingredient_id], [Name], [Description], [Servings], [Category]) VALUES (2, NULL, N'Chow Mein', N'Chow Mein', NULL, N'Dinner')
INSERT [dbo].[Recipes] ([RecipeId], [Recipe_Ingredient_id], [Name], [Description], [Servings], [Category]) VALUES (3, NULL, N'Tuna salad', N'Tuna salad', NULL, N'Dinner')
SET IDENTITY_INSERT [dbo].[Recipes] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [UNIQUE_SHORTDESCRIPTION]    Script Date: 4/11/2016 2:03:59 PM ******/
ALTER TABLE [dbo].[Ingredients] ADD  CONSTRAINT [UNIQUE_SHORTDESCRIPTION] UNIQUE NONCLUSTERED 
(
	[ShortDescription] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [upc]    Script Date: 4/11/2016 2:03:59 PM ******/
ALTER TABLE [dbo].[Ingredients] ADD  CONSTRAINT [upc] UNIQUE NONCLUSTERED 
(
	[Ingredient_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
USE [master]
GO
